<!-- <h2>Login page</h2>

<div>
  <input type="text" placeholder="Username"/>
</div>
<div>
  <input tpye="password" placeholder="Password"/>
</div>
<div>
  <button type="submit">Enter</button>
</div>
<div>
  <span>You have not an account ? </span>
  <a href="#">Create one here</a>
</div> -->

<div class="jumbotron mt-3" style="background:#f2f2f2; border-radius: 30px;">
  <h1 class="display-4">Account Login</h1>
  <form class="mt-4">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <font>Your not a member ? <span style="color: #062639" >Create an account</span></font>
    <button type="submit" class="btn mt-2" style="background: #020202;border-radius: 30px;color:#fff;width: 25%;">Login</button>
  </form>
</div>
