<div style="font-size: 2rem;text-align: center;">Account Login</div>

<mat-card class="my-card" style="background: #fff; margin-top: 2%; border-radius: 30px;">
    <mat-card-content style="margin-top: 0%;">
       <form class="my-form" style="color: #000;">
          <mat-form-field class="full-width">
             <mat-label style="color: #000;">Enter Username</mat-label>
             <input  matInput  placeholder="Email" name="email">
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label style="color: #000;border-bottom: 1px solid #000;">Enter Password</mat-label>
             <input type="password"  matInput  placeholder="Password" name="password">
          </mat-form-field>
       </form>

       <button mat-raised-button (click)="login()" color="primary" style="width: 100%;">LOGIN</button>

       <div style="color: #000; text-align: center;margin-top: 2%;">Not a mamber ? <a routerLink="/create" style="font-weight: bold;text-decoration: none;color: #000">Sign up now</a></div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
 </mat-card>

<!-- 
<div class="jumbotron mt-3" style="background:#f2f2f2; border-radius: 30px;">
    <h1 class="display-4">Account Login</h1>
    <form class="mt-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <font>Your not a member ? <a style="color: #062639" routerLink="/create">Create an account</a></font>
      <button type="submit" class="btn mt-2" style="background: #020202;border-radius: 30px;color:#fff;width: 25%;">Login</button>
    </form>
  </div> -->