<nav class="navbar navbar-light" style="color:#000;">
    <a class="navbar-brand" href="#">PetitsPains</a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">BreakFast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="team">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="member">Members</a>
        </li>
      </ul>

      <button class="btn btn-dark" routerLink="login">Login</button>
  </nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
