.content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}
  

.navbar{
    justify-content: space-between;
}

a{
    color: #fff;
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1rem;
}