<div class="main">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="padding-top:5%;margin-left: 32%;">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Create Account</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First name">
          </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
               <input matInput placeholder="Username">
            </mat-form-field>
            
          <mat-form-field class="example-full-width">
              <input type="email" matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Password">
            </mat-form-field>
          </mat-card-content>
          
        <button mat-stroked-button color="accent" class="btn-block">Sign up</button>
      </form>
    </mat-card>
  
  </div>
</div>
<!-- <div style="font-size: 2rem;text-align: center;margin-top: 10%;">Create Account</div>

       <form class="my-form" style="color: #000;margin-top: 5%">
          <mat-form-field class="full-width">
             <mat-label style="color: #000;">First Name</mat-label>
             <input type="text"  matInput  placeholder="First Name" name="fname">
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label style="color: #000;border-bottom: 1px solid #000;">Last Name</mat-label>
             <input type="text"  matInput  placeholder="Last Name" name="lname">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width" style="width: 100%;">
             <mat-label style="color: #000;border-bottom: 1px solid #000;">Email</mat-label>
             <input type="email"  matInput  placeholder="Email" name="email">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width" style="width: 100%;">
                <mat-label style="color: #000;border-bottom: 1px solid #000;">Password</mat-label>
                <input type="password"  matInput  placeholder="Password" name="password">
            </mat-form-field>    
            
       </form>
       
       
       <button mat-raised-button (click)="login()" color="primary" style="width: 100%;margin-top: 5%;">Creat Account</button> -->
