<div class="jumbotron mt-3" style="background:#f2f2f2; border-radius: 30px;">
    <h1 class="display-4">Account Signup</h1>
    <form class="mt-3">
        <div class="form-row">
            <div class="col">
            <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-row">
            <div class="col mt-2">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-row">
            <div class="col mt-2">
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn mt-3" style="background: #020202;border-radius: 30px;color:#fff;width: 100%;">Creat Account</button>
      </form>
  </div>
  